<div>
    <div class="row">
        <div class="col-3 p-2">
            <div style="border: 1px solid #c0c0c0; border-radius: 10%;">
                <h5 class="text-center">{{ 'parthenon.user.athena.dashboard.signup_stats.last_24_hours'|trans }}</h5>

                <p class="text-center" style="font-size: 20pt">{{ twenty_four_hour_count }}</p>
            </div>
        </div>
        <div class="col-3 p-2">
            <div style="border: 1px solid #c0c0c0; border-radius: 10%;">
                <h5 class="text-center">{{ 'parthenon.user.athena.dashboard.signup_stats.previous_24_hours'|trans }}</h5>

                <p class="text-center" style="font-size: 20pt">{{ previous_twenty_four_hour_count }}</p>
            </div>
        </div>
        <div class="col-3 p-2">
            <div style="border: 1px solid #c0c0c0; border-radius: 10%;">
                <h5 class="text-center">{{ 'parthenon.user.athena.dashboard.signup_stats.last_week'|trans }}</h5>
                <p class="text-center" style="font-size: 20pt">{{ this_week_count }}</p>
            </div>
        </div>
        <div class="col-3 p-2">
            <div style="border: 1px solid #c0c0c0; border-radius: 10%;">
                <h5 class="text-center">{{ 'parthenon.user.athena.dashboard.signup_stats.previous_week'|trans }}</h5>
                <p class="text-center" style="font-size: 20pt">{{ last_week_count }}</p>
            </div>
        </div>
    </div>
</div>
