{% extends 'base.html.twig' %}

{% block title %}
    {{ 'parthenon.user.change_password.title'|trans }}
{% endblock %}

{% block body %}
    {{ form_start(form,  {'attr': {"class": "form-change-password"}}) }}
    <div class="my-custom-class-for-errors">
        {{ form_errors(form) }}
    </div>
    {{ form_widget(form, {'attr': {"class": "form-control"}}) }}
    <button class="btn btn-lg btn-primary" type="submit" id="user_change_password_submit">{{ "parthenon.user.change_password.submit"|trans }}</button>
    {{ form_end(form) }}
{% endblock %}
