{% extends 'base.html.twig' %}

{% block title %}
{{ 'parthenon.user.profile.title'|trans }}
{% endblock %}

{% block body %}
    {{ form_start(form,  {'attr': {"class": "form-profile-edit"}}) }}
    <div class="my-custom-class-for-errors">
        {{ form_errors(form) }}
    </div>
    {{ form_widget(form, {'attr': {"class": "form-control"}}) }}
    <button class="btn btn-lg btn-primary" type="submit" id="user_profile_submit">{{ "parthenon.global.submit"|trans }}</button>
    {{ form_end(form) }}
{% endblock %}
